/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: url(Comercio.jpeg) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-right: 0.5rem;
}

.logo span {
    font-size: 0.8rem;
    color: gray;
    margin-left: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li.perfil {
    margin-right: 3rem;
}
nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Contenido principal */
main {
    padding: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.inventory-table {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 1rem;
    overflow: auto;
    max-height: 400px;
    /* Ajusta la altura máxima según tus necesidades */
}

.table-header {
    display: flex;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 30px 40px;
}

.header-cell {
    flex: 1;
    text-align: left;
    padding: 0.5rem;
}

.table-body {
    display: flex;
    flex-direction: column;
}

.table-row {
    display: flex;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.cell {
    flex: 1;
    padding: 0.5rem;
    text-align: left;
}

.cell input[type="checkbox"] {
    margin: 0;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-top: 300px;
}

.btn-secondary {
    background-color: #ccc;
    color: #333;
}

.btn-primary {
    background-color: #7e57c2;
    color: #fff;
}

.btn-danger {
    background-color: #e53935;
    color: #fff;
}